.rotate-180 {
  display: inline-block;
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

tr {
  cursor: pointer;
}

.table-active {
  border: var(--bs-border-width) solid #86b7fe;
  box-shadow: 0 0 0 var(--bs-border-width) #86b7fe;
}

.list-active {
  z-index: 1;
  color: var(--bs-list-group-action-hover-color);
  text-decoration: none;
  background-color: var(--bs-list-group-action-hover-bg);
  border: var(--bs-border-width) solid #86b7fe;
  box-shadow: 0 0 0 var(--bs-border-width) #86b7fe;
}

.list-item-grid {
  border-radius: inherit;
  border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color) !important;
  cursor: pointer;
}

.list-item-grid.active {
  /*background-color: var(--bs-list-group-active-bg);*/
  /*background-color: var(--bs-table-bg);*/
  color: #000;
  background-color: #cfe2ff;
  box-shadow: inset 0 0 0 9999px transparent;
}

.list-item-grid.active:nth-of-type(odd) {
  /*background-color: var(--bs-list-group-active-bg);*/
  /*background-color: var(--bs-table-bg);*/
  color: #000;
  background-color: #cfe2ff;
  box-shadow: inset 0 0 0 9999px #c5d7f2;
}

.disappearing {
  transition: opacity 0.618s ease;
}

/*.th-width-auto {
  width: auto !important;
}*/

/*.resizable {
  resize: horizontal;
  overflow: auto;
  width: 120px;
  margin: 0px;
  padding: 0px;
  border: 1px solid black;
  display:block;
}*/

/*.tr-wb-break-all {
  word-break: break-all;
}*/

.limitInput {
  width: 80px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (max-width: 768px) {
  .mobilePaginationContainer {
    flex-direction: column-reverse;
  }
  .mobilePaginationInfo {
    flex-direction: row !important;
  }
  .mobilePaginationRowsInfo {
    display: flex !important;
    align-items: center !important;
    margin-top: 1rem !important;
    margin-right: 0.5rem !important;
  }
  .mobilePaginationLimitInfo {
    margin-top: 1rem !important;
  }
}